@model C_Sharp_Belt_II.Models.User
@{
    ViewData["Title"] = "User Profile";
}

<div class="row mt-5">
    <div class="col-12">
        <h4 class="pb-3">Name: @Model.Name</h4>
    </div>
    <div class="col-12">
        <h4 class="pb-3">Alias: @Model.Alias</h4>
    </div>
    <div class="col-12">
        <h4 class="pb-3">Email: @Model.Email</h4>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <h4 class="pb-3">Total Number of Posts: @Model.Ideas.Count()</h4>
    </div>
    <div class="col-12">
        <h4 class="pb-3">Total Number of Likes: @Model.Likes.Count()</h4>
    </div>
</div>