<h1 style="font-size: 4em; text-align: center; color: #007aff;">@ViewBag.ConfirmedEvent.Name</h1>

<div class="row mt-3">
    <div class="col-sm-3 border border-primary rounded p-3 mb-2 bg-primary text-white" style="height: 300px;">
        <h3 style="text-align: center;">Overview</h3>
        <hr>
        <p style="text-align: center;">@ViewBag.ConfirmedEvent.Description</p>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-3 border border-primary rounded p-1 mb-2 bg-primary text-white" style="height: 300px;">
        <iframe src = 'https://www.google.com/maps/embed/v1/place?key=AIzaSyBCnCe8iUWcI6SQtR3K04u3lVDrblCLgcU&q=@ViewBag.ConfirmedEvent.Address' width = "100%" height="100%" frameBorder="0"></iframe>
        <!-- <img src="~/images/MapPlaceholder.png" class="img-rounded" alt="Map Location" style="height: 300px; width: 100%; height: 100%;"> -->
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-3 border border-primary rounded p-3 mb-2 bg-primary text-white" style=" min-height: 300px;">
        <h3 style="text-align: center;">Unassigned Volunteers</h3>
        <hr>
            @foreach(var person in @ViewBag.UnassignedVolunteers)
            {
                <h5>@person.FirstName</h5>
            }
    </div>

    <div class="col-sm-7 border border-primary rounded p-3 mb-2 bg-primary text-white" style=" min-height: 300px;">
        <h3 style="text-align: center;">Task List</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Task</th>
                <th>Location</th>
                <th>Volunteers</th>
                <th>Date / Time</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                @foreach(var tsk in @ViewBag.ConfirmedEvent.Tasks)
                {
                    <tr>
                        <td>@tsk.Name</td>
                        <td>@tsk.Loc.Name </td>
                        <td>@tsk.TaskVolunteers.Count of @tsk.Capacity</td>
                        <td>@tsk.StartTime.ToString("MMMM dd @ hh:mm tt")</td>
                        <td>Vol/Unvol</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>  

    <div class="col-sm-1"></div>

    <div class="col-sm-3 border border-primary rounded p-3 mb-2 bg-primary text-white" style=" min-height: 300px;">
        <h3 style="text-align: center;">Assigned Volunteers</h3>
        <hr>
        @foreach(var person in @ViewBag.AssignedVolunteers)
        {
            <h5>@person.FirstName</h5>
        }
    </div>

</div>